<p> Name: <%= @attraction.name %> </p>

<p>Total Number of Users: <%= @attraction.user_num %></p>

<p>Ticket Requirement: <%= @attraction.tickets %></p>

<p>Height Requirement: <%= @attraction.min_height %> inches</p>

<p>Nausea Rating: <%= @attraction.nausea_rating %></p>

<p>Happiness Rating: <%= @attraction.happiness_rating %></p>

<form action="<%= rides_url %>" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
  <%= tag(:input, :type => "hidden", :name => :attraction_id, :value => @attraction.id) %>
  <input type="submit" value="Go on this ride">
</form>
